* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    padding: 20px;
}

header .navbar {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar img{
    width: 200px;
    margin-top: 6px;
    margin-left: -90px;
}
  

.navbar .menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar .menu-links li a {
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  transition: 0.2s ease;
}