::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}
body {
    margin: 0;
    /* 1 */
    line-height: inherit;
    /* 2 */
    background-color: #353942;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.wrapper{
    justify-content: center;
    margin: -22px 0 0 0;
}
.box{
    text-align: left;
}

.input-container{
    position: relative;
    padding-top: 1px;
    width: 430px;
    height: 550px;
    background-color: white;
    margin: 55px auto auto auto;
    border-radius: 20px;
    text-align: left;
}
.title{
    text-align: center;
    color: #353942;
    margin-top: 14px;
}
.sub{
    text-align: center;
    margin: -10px 0 17px 0;
    font-weight: 500;
    font-size: 11px;
    color: #353942;
}
input{
    padding: 7px;
    width: 330px;
    border-radius: 6px;
    margin: 5px 0 5px 35px;
    background-color:#f4d476;
    border: 1px;
    -webkit-transition: 0.3 s;
    transition: 0.3 s;
}
label{
    margin: 0 0 0 35px;
    font-size: 13px;
    font-weight: 400;
}
input:focus{
    color: black;
    outline: 2px solid #776f4a; 
}
.sign-up{
    position: absolute;
    margin: 30px 0 0 136px;
    text-align: center;
    width: 150px;
    border-radius: 6px;
    padding: 7px;
    border: 2px solid #776f4a;
    background-color: white;
}
.sign-up:hover{
    background-color: #776f4a;
    color: white;
}
.signin{
    font-size: 10px;
    margin: 70px 0 0 0;
    text-align: center;
}
a:link{
    text-decoration: none;
    color: blue;
}
a:visited{
    text-decoration: none;
    color: red;
}
